:root {
	--main-font: 1em 'Roboto', sans-serif;
	--head-font: 1.5em 'Roboto', sans-serif;
	--btn-font: 1.2em 'Roboto', sans-serif;
	--error-message-font: italic var(--main-font);

	--size-m: 1rem;
	--size-s: .5rem;
	--size-xs: .25rem;

	--extra-large-spacing: calc(var(--size-m) * 2);
	--large-spacing: calc(var(--size-m) + var(--size-s));
	--base-spacing: var(--size-m);
	--small-spacing: var(--size-s);
	--extra-small-spacing: var(--size-xs);
	--border-radius: var(--size-xs);

	--form-width: 35rem;
	--header-form-height: 4rem;
	--profile-width: 30rem;
	--header-profile-height: 7rem;
	--footer-profile-height: 3rem;

	--main-light-color: #fff;
	--main-dark-color: dimgray;
	--primary-accent-color: lightsteelblue;
	--primary-checked-color: cornflowerblue;
	--primary-head-color: rgb(0, 158, 0);
	--primary-head-color-hover: green;
	--danger-red-color: red;

	--btn-color: var(--primary-head-color);
	--btn-color-hover: var(--primary-head-color-hover);

	--input-border-color: var(--main-dark-color);
	--input-border-color-hover: var(--primary-accent-color);
	--input-background-color: transparent;

	--radio-border-color: var(--input-border-color);
	--radio-color-checked: var(--primary-checked-color);

	--checkbox-border-color: var(--main-dark-color);
	--checkbox-color-checked: var(--primary-checked-color);
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font: var(--main-font);
	color: var(--main-dark-color);
	background: var(--main-light-color);
}

div.signup-container {
	margin: var(--base-spacing) auto 0;
	width: var(--form-width);
	border-radius: calc(var(--border-radius) * 1.3);
	border: 1px solid var(--main-dark-color);
}

h2.signup-title {
	width: 100%;
	height: var(--header-form-height);
	display: flex;
	justify-content: center;
	align-items: center;
	font: var(--head-font);
	color: var(--main-light-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	background-color: var(--primary-head-color);
}

div.signup-main {
	margin: var(--extra-large-spacing);
	display: grid;
	grid-gap: 10px;
}

.hidden,
.visually-hidden {
	display: none;
}

.signup-fieldset {
	display: contents;
}

.gender-group {
	display: flex;
	gap: 10px;
}

.gender-label,
.confirm-label {
	display: flex;
	align-items: center;
	gap: 10px;
}

.gender-control,
.confirm-control {
	margin-right: 15px;
	user-select: none;
	cursor: pointer;
}

.error-message {
	margin: 0 0 0 115px;
	position: absolute;
	font: var(--error-message-font);
	color: var(--danger-red-color);
}

label:not([for="firstName"]),
button[name="signUp"] {
	margin: var(--base-spacing) 0 0 0;
}

:is(select#postionChoose, input:not([type='radio'], [type='checkbox'])) {
	width: 100%;
	padding: var(--small-spacing);
	appearance: none;
	outline: none;
	border: none;
	border: 1px solid var(--input-border-color);
	border-radius: var(--border-radius);
	font-family: inherit;
	font-size: 100%;
	color: var(--main-dark-color);
	background-color: var(--input-background-color);
}

:is(select#postionChoose, input:not([type='radio'], [type='checkbox'], [type="button"])):is(:hover, :focus) {
	border: 1px solid var(--input-border-color-hover);
	box-shadow: 0 0 3px 1px var(--input-border-color-hover);
	transition: all 0.2s ease;
}

select#postionChoose {
	background: right center / 5% 50% no-repeat;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512" fill="dimgray"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z"/></svg>');
	cursor: pointer;
}

input:is([type='radio'], [type='checkbox']) {
	width: 17px;
	height: 17px;
	appearance: none;
	outline: none;
	border: none;
	cursor: pointer;
}

input[type="radio"] {
	border-radius: 50%;
	border: 1px solid var(--radio-border-color);
}

input[type="radio"]:checked {
	border-color: var(--radio-color-checked);
	background: center / 17px no-repeat;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512" fill="cornflowerblue"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm80 248c0 44.1-35.9 80-80 80s-80-35.9-80-80 35.9-80 80-80 80 35.9 80 80z"/></svg>');
	transition: all 0.2s ease;
}

input[type="checkbox"] {
	border-radius: var(--border-radius);
	border: 1px solid var(--checkbox-border-color);
}

input[type="checkbox"]:checked {
	border-color: var(--checkbox-color-checked);
	background: center / 17px no-repeat;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="cornflowerblue"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M400 480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm-204.7-98.1l184-184c6.2-6.2 6.2-16.4 0-22.6l-22.6-22.6c-6.2-6.2-16.4-6.2-22.6 0L184 302.7l-70.1-70.1c-6.2-6.2-16.4-6.2-22.6 0l-22.6 22.6c-6.2 6.2-6.2 16.4 0 22.6l104 104c6.2 6.3 16.4 6.3 22.6 0z"/></svg>');
}

button[name="signUp"] {
	padding: var(--small-spacing);
	font: var(--btn-font);
	border: none;
	border-radius: var(--border-radius);
	color: var(--main-light-color);
	background-color: var(--btn-color);
	cursor: pointer;
}

button[name="signUp"]:is(:hover, :focus) {
	background-color: var(--btn-color-hover);
	transition: all 0.2s ease;
}

/* Profile styles */

div.user-profile-container {
	margin: var(--base-spacing) auto 0;
	width: var(--profile-width);
	position: relative;
	border-radius: calc(var(--border-radius) * 1.3);
	border: 1px solid var(--main-dark-color);
}

div.user-profile-header,
div.user-profile-footer {
	background-color: var(--primary-head-color);
}

div.user-profile-header {
	height: var(--header-profile-height);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

div.user-profile-footer {
	margin: var(--small-spacing) 0 0 0;
	height: var(--footer-profile-height);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
}

div.user-profile-footer a {
	font-size: x-large;
	color: var(--main-light-color);
}

div.user-profile-image {
	width: 120px;
	height: 120px;
	position: absolute;
	top: 46px;
	left: 180px;
	border-radius: 50%;
	background-color: var(--main-light-color);
	background-size: cover;
	background-position: center;
}

.user-profile-image--male {
	background-image: url(../src/Male_User_Profile.svg);
}

.user-profile-image--female {
	background-image: url(../src/Female_User_Profile.svg);
}

.user-profile-main {
	margin: calc(var(--extra-large-spacing) * 2) auto var(--large-spacing);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

hr {
	bottom: none;
	height: 0;
	opacity: .2;
	border-top: 1px solid var(--main-dark-color);
}

.user-profile-btn-sign-out {
	margin: var(--extra-small-spacing) 0 0 0;
	height: var(--header-profile-height);
	display: flex;
	justify-content: center;
	align-items: center;
}

button[name="signOut"] {
	padding: var(--small-spacing) var(--base-spacing);
	font: var(--btn-font);
	border: 1px solid var(--btn-color);
	border-radius: var(--border-radius);
	color: var(--btn-color);
	background-color: var(--main-light-color);
	cursor: pointer;
}

button[name="signOut"]:is(:hover, :focus) {
	background-color: var(--btn-color-hover);
	color: var(--main-light-color);
	transition: all 0.2s ease;
}
